<%= form_with(model: symptom, local: true) do |form| %>
    <div class="col-md-6 mb-4">
      <div class="card">
        <header class="card-header">
          <h2 class="h3 card-header-title"> Symptom
            <%= link_to 'Back', symptoms_path,class: "float-right" %>
          </h2>
        </header>

        <div class="card-body">
          <% if symptom.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(symptom.errors.count, "error") %> prohibited this symptom from being saved:</h2>

                <ul>
                  <% symptom.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
          <div class="form-group mb-4">
            <%= form.label :admission_id %>
            <%= form.select :admission_id, Admission.all.map{|a| [a.moment, a.id]},{}, id: :symptom_admission_id, class:"form-control"  %>
          </div>
          <div class="form-group mb-4">
            <%= form.label :description %>
            <%= form.text_area :description, id: :symptom_description, class:"form-control"  %>
          </div>
          <div class="actions text-center w-100">
            <%= form.submit class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>

<% end %>
