<p id="notice"><%= notice %></p>
<div class="card mb-4">
  <header class="card-header">
    <h2 class="h3 card-header-title">Patients <%= link_to 'New Symptom', new_symptom_path, class: "btn btn-sm btn-primary float-right" %></h2>
  </header>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Description</th>
          <th colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        <% @symptoms.each do |symptom| %>
            <tr>
              <td><%= symptom.description %></td>
              <td><%= link_to 'Edit', edit_symptom_path(symptom) %></td>
              <td><%= link_to 'Destroy', symptom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

