<%= form_with(model: treatment, local: true) do |form| %>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <header class="card-header">
            <h2 class="h3 card-header-title"> Treatment
              <%= link_to 'Back', treatments_path,class: "float-right" %>
            </h2>
          </header>

          <div class="card-body">
            <% if treatment.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(treatment.errors.count, "error") %> prohibited this treatment from being saved:</h2>

                  <ul>
                    <% treatment.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div class="form-group mb-4">
              <%= form.label :description %>
              <%= form.text_area :description, id: :treatment_description, class:"form-control" %>
            </div>

            <div class="form-group mb-4">
              <%= form.label :necessity %>
              <%= form.text_area :necessity, id: :treatment_necessity, class:"form-control" %>
            </div>

            <div class="actions text-center w-100">
              <%= form.submit class:"btn btn-primary" %>
            </div>

          </div>
        </div>
      </div>
    </div>
<% end %>