<p id="notice"><%= notice %></p>
<div class="card mb-4">
  <header class="card-header">
    <h2 class="h3 card-header-title">Treatments <%= link_to 'New Treatment', new_treatment_path, class: "btn btn-sm btn-primary float-right" %></h2>
  </header>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Description</th>
          <th>Necessity</th>
          <th colspan="3"></th>
        </tr>
        </thead>
        <tbody>
          <% @treatments.each do |treatment| %>
            <tr>
              <td><%= treatment.description %></td>
              <td><%= treatment.necessity %></td>
              <td><%= link_to 'Edit', edit_treatment_path(treatment) %></td>
              <td><%= link_to 'Destroy', treatment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>