<%= form_with(model: observation, local: true) do |form| %>
<div class="col-md-6 mb-4">
  <div class="card">
    <header class="card-header">
      <h2 class="h3 card-header-title">Observation
        <%= link_to 'Back', observations_path,class: "float-right" %>
      </h2>
    </header>
    <div class="card-body">
          <% if observation.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(observation.errors.count, "error") %> prohibited this observation from being saved:</h2>

                <ul>
                  <% observation.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="form-group mb-4">
            <%= form.label :admission_id %>
            <%= form.select :admission_id, Admission.all.map{|a| [a.moment, a.id]},{}, id: :observation_admission_id, class:"form-control" %>
          </div>

          <div class="form-group mb-4">
            <%= form.label :description %>
            <%= form.text_area :description, id: :observation_description, class:"form-control"%>
          </div>

          <div class="form-group mb-4">
            <%= form.label :moment %>
            <%= form.date_field :moment, id: :observation_moment, class:"form-control" %>
          </div>
          <div class="actions text-center w-100">
            <%= form.submit class:"btn btn-primary" %>
          </div>
    </div>
  </div>
</div>
<% end %>

