
<p id="notice"><%= notice %></p>
<div class="card mb-4">
  <header class="card-header">
    <h2 class="h3 card-header-title">Medication Orders <%= link_to 'New Observation', new_observation_path, class: "btn btn-sm btn-primary float-right" %></h2>
  </header>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Admission</th>
          <th>Description</th>
          <th>Moment</th>
          <th colspan="2"></th>
        </tr>
        </thead>

        <tbody>
        <% @observations.each do |observation| %>
            <tr>
              <td><%= observation.admission.moment %></td>
              <td><%= observation.description %></td>
              <td><%= observation.moment %></td>
              <td><%= link_to 'Edit', edit_observation_path(observation) %></td>
              <td><%= link_to 'Destroy', observation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
