

<%= form_with(model: diagnosis, local: true) do |form| %>
    <div class="col-md-6 mb-4">
      <div class="card">
        <header class="card-header">
          <h2 class="h3 card-header-title">Diagnosis
            <%= link_to 'Back', diagnoses_path,class: "float-right" %>
          </h2>
        </header>
        <div class="card-body">
          <% if diagnosis.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(diagnosis.errors.count, "error") %> prohibited this diagnosis from being saved:</h2>

                <ul>
                  <% diagnosis.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
          <div class="form-group mb-4">
            <%= form.label :coding_system %>
            <%= form.text_field :coding_system, id: :diagnosis_coding_system, class:"form-control" %>
          </div>

          <div class="form-group mb-4">
            <%= form.label :code %>
            <%= form.text_field :code, id: :diagnosis_code, class:"form-control" %>
          </div>

          <div class="form-group mb-4">
            <%= form.label :description %>
            <%= form.text_area :description, id: :diagnosis_description, class:"form-control" %>
          </div>

          <div class="form-group mb-4">
            <%= form.label :type %>
            <%= form.select :type, [["Diagnosis", "Diagnosis"], ["ChronicCondition", "ChronicCondition"]],{}, class:"form-control"  %>
          </div>

          <div class="actions text-center w-100">
            <%= form.submit class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
<% end %>
