<p id="notice"><%= notice %></p>
<div class="card mb-4">
  <header class="card-header">
    <h2 class="h3 card-header-title">Diagnoses <%= link_to 'New Admission', new_diagnosis_path, class: "btn btn-sm btn-primary float-right" %></h2>
  </header>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Coding system</th>
          <th>Code</th>
          <th>Description</th>
          <th>Type</th>
          <th colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        <% @diagnoses.each do |diagnosis| %>
            <tr>
              <td><%= diagnosis.coding_system %></td>
              <td><%= diagnosis.code %></td>
              <td><%= diagnosis.description %></td>
              <td><%= diagnosis.type %></td>
              <td><%= link_to 'Edit', edit_diagnosis_path(diagnosis) %></td>
              <td><%= link_to 'Destroy', diagnosis_path(diagnosis), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
