<p id="notice"><%= notice %></p>

<p>
  <strong>Coding system:</strong>
  <%= @diagnosis.coding_system %>
</p>

<p>
  <strong>Code:</strong>
  <%= @diagnosis.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @diagnosis.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @diagnosis.type %>
</p>

<%= link_to 'Edit', edit_diagnosis_path(@diagnosis) %> |
<%= link_to 'Back', diagnoses_path %>
