<%= form_with(model: order_frequency, local: true) do |form| %>
    <div class="col-md-6 mb-4">
      <div class="card">
        <header class="card-header">
          <h2 class="h3 card-header-title"> Order Frequency
            <%= link_to 'Back', order_frequencies_path,class: "float-right" %>
          </h2>
        </header>
        <div class="card-body">
          <% if order_frequency.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(order_frequency.errors.count, "error") %> prohibited this order_frequency from being saved:</h2>

                <ul>
                  <% order_frequency.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="form-group mb-4">
            <%= form.label :value %>
            <%= form.text_field :value, id: :order_frequency_value , class:"form-control"%>
          </div>

          <div class="form-group mb-4">
            <%= form.label :unit %>
            <%= form.select :unit, OrderFrequency.units.map{|u| [u[0].humanize, u[0]]},{}, class:"form-control"  %>
          </div>
          <div class="actions text-center w-100">
            <%= form.submit class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
<% end %>


