<p id="notice"><%= notice %></p>
<div class="card mb-4">
  <header class="card-header">
    <h2 class="h3 card-header-title">Medication Orders <%= link_to 'New Order Frequency', new_order_frequency_path, class: "btn btn-sm btn-primary float-right" %></h2>
  </header>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Value</th>
          <th>Unit</th>
          <th colspan="2"></th>
        </tr>
        </thead>

        <tbody>
        <% @order_frequencies.each do |order_frequency| %>
            <tr>
              <td><%= order_frequency.value %></td>
              <td><%= order_frequency.unit %></td>
              <td><%= link_to 'Edit', edit_order_frequency_path(order_frequency) %></td>
              <td><%= link_to 'Destroy', order_frequency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
