<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @order_frequency.value %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @order_frequency.unit %>
</p>

<%= link_to 'Edit', edit_order_frequency_path(@order_frequency) %> |
<%= link_to 'Back', order_frequencies_path %>
