<p id="notice"><%= notice %></p>
<div class="card mb-4">
  <header class="card-header">
    <h2 class="h3 card-header-title">Diagnostic Procedures <%= link_to 'New Facility', new_facility_path, class: "btn btn-sm btn-primary float-right" %></h2>
  </header>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th colspan="2"></th>
        </tr>
        </thead>

        <tbody>
        <% @facilities.each do |facility| %>
            <tr>
              <td><%= facility.name %></td>
              <td><%= link_to 'Edit', edit_facility_path(facility) %></td>
              <td><%= link_to 'Destroy', facility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
