<%= form_with(model: patient, local: true) do |form| %>
    <div class="col-md-12 mb-4">
      <div class="card">
        <header class="card-header">
          <h2 class="h3 card-header-title"> Patient
            <%= link_to 'Back', patients_path,class: "float-right" %>
          </h2>
        </header>

        <div class="card-body">
          <% if patient.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

                <ul>
                  <% patient.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-4">
                <%= form.label :first_name %>
                <%= form.text_field :first_name, id: :patient_first_name, class:"form-control"  %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-4">
                <%= form.label :middle_name %>
                <%= form.text_field :middle_name, id: :patient_middle_name, class:"form-control"  %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-4">
                <%= form.label :last_name %>
                <%= form.text_field :last_name, id: :patient_last_name, class:"form-control"  %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-4">
                <%= form.label :mr %>
                <%= form.text_field :mr, id: :patient_mr, class:"form-control"  %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-4">
                <%= form.label :dob %>
                <%= form.date_field :dob, id: :patient_dob, class:"form-control"  %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-4">
                <%= form.label :gender %>
                <%= form.select :gender, Patient.genders.map{|g| [g[0].humanize, g[0]]},{}, class:"form-control"  %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-4">
                <%= form.label :admission_id %>
                <%= form.select :admission_id, Admission.all.map{|a| [a.moment, a.id]},{}, id: :patient_admission_id, class:"form-control" %>
              </div>

            </div>
            <div class="col-md-6">
              <div class="form-group mb-4">
                Allergies
                <%= select_tag :allergy_ids, options_for_select(Allergy.all.map{|a| [a.description, a.id]}, form.object.allergies.pluck(:id)), {class: "selectize", multiple: true} %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-4">
                Medication Orders
                <%= select_tag :medication_order_ids, options_for_select(MedicationOrder.all.map{|a| [a.name, a.id]}, form.object.medication_orders.pluck(:id)), {class: "selectize", multiple: true} %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-4">
                Diagnostic Procedures
                <%= select_tag :diagnostic_procedure_ids, options_for_select(DiagnosticProcedure.all.map{|a| [a.description, a.id]}, form.object.diagnostic_procedures.pluck(:id)), {class: "selectize", multiple: true} %>
              </div>
            </div>
          </div>









          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-4">
                treatments
                <%= select_tag :treatment_ids, options_for_select(Treatment.all.map{|a| [a.description, a.id]}, form.object.treatments.pluck(:id)), {class: "selectize", multiple: true} %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-4">
                diagnoses
                <%= select_tag :diagnosis_ids, options_for_select(Diagnosis.all.map{|a| [a.coding_system, a.id]}, form.object.diagnoses.pluck(:id)), {class: "selectize", multiple: true} %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-4">
                chronic_conditions
                <%= select_tag :chronic_condition_ids, options_for_select(ChronicCondition.all.map{|a| [a.coding_system, a.id]}, form.object.chronic_conditions.pluck(:id)), {class: "selectize", multiple: true} %>
              </div>
            </div>
          </div>


          <div class="actions text-center w-100">
            <%= form.submit class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
<% end %>
