<p id="notice"><%= notice %></p>
<div class="card mb-4">
  <header class="card-header">
    <h2 class="h3 card-header-title">Patients <%= link_to 'New Patient', new_patient_path, class: "btn btn-sm btn-primary float-right" %></h2>
  </header>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>First name</th>
          <th>Middle name</th>
          <th>Last name</th>
          <th>Mr</th>
          <th>Dob</th>
          <th>Gender</th>
          <th colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        <% @patients.each do |patient| %>
            <tr>
              <td><%= patient.first_name %></td>
              <td><%= patient.middle_name %></td>
              <td><%= patient.last_name %></td>
              <td><%= patient.mr %></td>
              <td><%= patient.dob %></td>
              <td><%= patient.gender %></td>
              <td><%= link_to 'Summary', patient, target:"_blank" %></td>
              <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
              <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
