<header class="d-lg-flex align-items-lg-center position-relative  min-vh-100">
  <div class="container">
    <%= link_to "Dashboard", patients_path, class: "btn btn-sm btn-success dashbord-link"%>
    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <div class="card mb-4">
          <header class="card-header">
            <h2 class="h3 card-header-title">Patients <%= link_to 'New Patient', new_patient_path, class: "btn btn-sm btn-primary float-right" %></h2>
          </header>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>name</th>
                  <th>Admission Date</th>
                </tr>
                </thead>
                <tbody>
                <% @patients.each do |patient| %>
                    <tr>
                      <td><%= link_to patient.full_name, patient , target:"_blank"%></td>
                      <td><%= link_to patient.admission.moment , patient, target:"_blank" %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
