<%= form_with(model: allergy, local: true) do |form| %>
    <div class="col-md-6 mb-4">
      <div class="card">
        <header class="card-header">
          <h2 class="h3 card-header-title"> Allergy
            <%= link_to 'Back', allergies_path,class: "float-right" %>
          </h2>
        </header>
        <div class="card-body">
          <% if allergy.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(allergy.errors.count, "error") %> prohibited this allergy from being saved:</h2>

                <ul>
                  <% allergy.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="form-group mb-4">
            <%= form.label :description %>
            <%= form.text_area :description, id: :allergy_description, class:"form-control" %>
          </div>
          <div class="actions text-center w-100">
            <%= form.submit class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
<% end %>
