<p id="notice"><%= notice %></p>
<div class="card mb-4">
  <header class="card-header">
    <h2 class="h3 card-header-title">Allergies <%= link_to 'New Admission', new_allergy_path, class: "btn btn-sm btn-primary float-right" %></h2>
  </header>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Description</th>
          <th colspan="2"></th>
        </tr>
        </thead>

        <tbody>
        <% @allergies.each do |allergy| %>
            <tr>
              <td><%= allergy.description %></td>
              <td><%= link_to 'Edit', edit_allergy_path(allergy) %></td>
              <td><%= link_to 'Destroy', allergy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

