<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @allergy.patient %>
</p>

<p>
  <strong>Description:</strong>
  <%= @allergy.description %>
</p>

<%= link_to 'Edit', edit_allergy_path(@allergy) %> |
<%= link_to 'Back', allergies_path %>
