<p id="notice"><%= notice %></p>



<p>
  <strong>Description:</strong>
  <%= @diagnostic_procedure.description %>
</p>

<p>
  <strong>Moment:</strong>
  <%= @diagnostic_procedure.moment %>
</p>

<%= link_to 'Edit', edit_diagnostic_procedure_path(@diagnostic_procedure) %> |
<%= link_to 'Back', diagnostic_procedures_path %>
