<%= form_with(model: medication_order, local: true) do |form| %>
    <div class="col-md-6 mb-4">
      <div class="card">
        <header class="card-header">
          <h2 class="h3 card-header-title">Medication Order
            <%= link_to 'Back', medication_orders_path,class: "float-right" %>
          </h2>
        </header>
        <div class="card-body">
          <% if medication_order.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(medication_order.errors.count, "error") %> prohibited this medication_order from being saved:</h2>

                <ul>
                  <% medication_order.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="form-group mb-4">
            <%= form.label :name %>
            <%= form.text_field :name, id: :medication_order_name, class:"form-control"  %>
          </div>

          <div class="form-group mb-4">
            <%= form.label :unit %>
            <%= form.select :unit, MedicationOrder.units.map{|u| [u[0].humanize, u[0]]},{}, id: :medication_order_unit, class:"form-control"  %>
          </div>

          <div class="form-group mb-4">
            <%= form.label :dosage %>
            <%= form.text_field :dosage, id: :medication_order_dosage, class:"form-control"  %>
          </div>

          <div class="form-group mb-4">
            <%= form.label :route %>
            <%= form.select :route, MedicationOrder.routes.map{|r| [r[0].humanize, r[0]]},{}, id: :medication_order_route, class:"form-control"  %>
          </div>

          <div class="form-group mb-4">
            <%= form.label :necessity %>
            <%= form.text_area :necessity, id: :medication_order_necessity, class:"form-control"  %>
          </div>

          <div class="form-group mb-4">
            <%= form.label :frequency_id %>
            <%= form.select :frequency_id, OrderFrequency.all.map{|o| [o.value, o.id]},{}, id: :frequency_id, class:"form-control" %>
          </div>
          <div class="actions text-center w-100">
            <%= form.submit class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
<% end %>
