<p id="notice"><%= notice %></p>
<div class="card mb-4">
  <header class="card-header">
    <h2 class="h3 card-header-title">Medication Orders <%= link_to 'New Medication Order', new_medication_order_path, class: "btn btn-sm btn-primary float-right" %></h2>
  </header>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>Unit</th>
          <th>Dosage</th>
          <th>Route</th>
          <th>Necessity</th>
          <th>Frequency</th>
          <th colspan="2"></th>
        </tr>
        </thead>

        <tbody>
        <% @medication_orders.each do |medication_order| %>
            <tr>
              <td><%= medication_order.name %></td>
              <td><%= medication_order.unit %></td>
              <td><%= medication_order.dosage %></td>
              <td><%= medication_order.route %></td>
              <td><%= medication_order.necessity %></td>
              <td><%= medication_order.order_frequency.value %></td>
              <td><%= link_to 'Edit', edit_medication_order_path(medication_order) %></td>
              <td><%= link_to 'Destroy', medication_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
