<%= form_with(model: admission, local: true) do |form| %>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <header class="card-header">
            <h2 class="h3 card-header-title">Admission
              <%= link_to 'Back', admissions_path,class: "float-right" %>
            </h2>
          </header>
          <div class="card-body">
            <% if admission.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(admission.errors.count, "error") %> prohibited this admission from being saved:</h2>

                  <ul>
                    <% admission.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
            <div class="form-group mb-4">
              <%= form.label :moment %>
              <%= form.date_field :moment, id: :admission_moment, class:"form-control" %>
            </div>

            <div class="form-group mb-4">
              Observations
              <%= select_tag :observation_ids, options_for_select(Observation.all.map{|a| [a.description, a.id]}, form.object.observations.pluck(:id)), {class: "selectize", multiple: true} %>
            </div>

            <div class="form-group mb-4">
              Symptoms
              <%= select_tag :symptom_ids, options_for_select(Symptom.all.map{|a| [a.description, a.id]}, form.object.symptoms.pluck(:id)), {class: "selectize", multiple: true} %>
            </div>

            <div class="form-group mb-4">
              diagnoses
              <%= select_tag :diagnosis_ids, options_for_select(Diagnosis.all.map{|a| [a.coding_system, a.id]}, form.object.diagnoses.pluck(:id)), {class: "selectize", multiple: true} %>
            </div>

            <div class="actions text-center w-100">
              <%= form.submit class:"btn btn-primary" %>
            </div>

          </div>
        </div>
      </div>
    </div>

<% end %>
