<p id="notice"><%= notice %></p>
<div class="card mb-4">
  <header class="card-header">
    <h2 class="h3 card-header-title">Admissions <%= link_to 'New Admission', new_admission_path, class: "btn btn-sm btn-primary float-right" %></h2>
  </header>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Moment</th>
          <th colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        <% @admissions.each do |admission| %>
            <tr>
              <td><%= admission.moment %></td>
              <td><%= link_to 'Edit', edit_admission_path(admission) %></td>
              <td><%= link_to 'Destroy', admission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

