<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'shared/header' %>
    <% flash.each do |type, message| %>
      <div class="alert flash-header fixed-alert <%= bootstrap_class_for(type) %>">
        <h4>
          <button class="close" data-dismiss="alert">×</button>
          <%= message %>
        </h4>
      </div>
  <% end %>

    <main class="u-main" role="main">
      <%= render 'shared/sidebar' %>
      <div class="u-content">
        <div class="u-body">
          <%= yield %>
        </div>
        <%= render 'shared/footer' %>
      </div>
    </main>
  </body>
</html>
